header.masthead {
  position: relative;
  background-color: #280071;
  background: url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  max-height: 80vh;
}

header.masthead .overlay {
  position: absolute;
  background-color: #280071;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-family: 'Broadway';
  letter-spacing: 5px;
  font-size: 3rem;
  font-weight: bold;
}

header .subtitle{
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 8rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 5rem;
    letter-spacing: .3rem;
  }
  header .subtitle{
    font-weight: bold;
    font-size: 2rem;
  }
}